src/main/resources/META-INF/spring-http.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
        xmlns="http://www.spring.demo.com/schema/http"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.spring.demo.com/schema/http"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans" />

    <!-- local name is http-->
    <xsd:element name="http">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="ref" type="xsd:string" />
                    <xsd:attribute name="targetClass" type="xsd:string"/>
                    <xsd:attribute name="address" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
